* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: clamp(18px, 1rem, 20px);
}

@font-face {
  font-family: chill;
  src: url(chillax.woff);
}
@font-face {
  font-family: roboto;
  src: url(roboto.woff2);
}
main {
  font-family: roboto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
main section.nav {
  max-width: 1800px;
  width: 100%;
  padding: 1rem 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main section.nav h3 {
  border: 1.5px solid #121212;
  padding: 0.4rem 0.6rem;
  border-radius: 1.7rem;
  font-size: 0.7rem;
}
main section.nav h3:hover {
  background-color: #0D1218;
  color: #edecec;
  transition: all ease 0.8s;
  cursor: pointer;
}
main section.nav-hero {
  width: 100%;
  font-family: chill;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
}
main section.nav-hero .card {
  padding: 1rem;
  max-width: 1800px;
}
main section.nav-hero .card .center {
  display: flex;
  flex-direction: column-reverse;
}
main section.nav-hero .card .center .left .first h1 {
  font-size: 1.3rem;
}
main section.nav-hero .card .center .left .first p {
  font-size: 0.8rem;
}
main section.nav-hero .card .center .left .second {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
main section.nav-hero .card .center .left .second .pics {
  position: relative;
}
main section.nav-hero .card .center .left .second .pics img {
  height: 13vw;
  width: 13vw;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
main section.nav-hero .card .center .left .second .pics .to {
  left: 63%;
  position: absolute;
}
main section.nav-hero .card .center .left .second .text {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-left: 2.4rem;
}
main section.nav-hero .card .center .left .second .text h3 {
  font-size: 0.7rem;
}
main section.nav-hero .card .center .left .second .text p {
  font-size: 0.6rem;
}
main section.nav-hero .card .center .right img {
  width: 100%;
}
main section.view2 {
  font-family: chill;
  width: 100%;
}
main section.view2 .card {
  max-width: 1800px;
  padding: 1rem 0.4rem;
}
main section.view2 .card .part1 h1 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
main section.view2 .card .part2 {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
main section.view2 .card .part2 .design1 .ico span {
  background-color: black;
  color: white;
  padding: 0.2rem;
  border-radius: 2rem;
}
main section.view2 .card .part2 .design1 p {
  margin-top: 0.7rem;
  font-size: 0.7rem;
}
main section.view3 {
  padding: 1rem;
}
main section.view3 .card {
  max-width: 1800px;
}
main section.view3 .card .part1 img {
  width: 100%;
}
main section.view3 .card .part2 h2 {
  font-family: roboto;
  font-size: 1.1rem;
  font-weight: 400;
}
main section.view3 .card .part2 p {
  font-size: 0.7rem;
  margin-bottom: 0.3rem;
}
main section.view3 .card .part2 .point .ico {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
main section.view3 .card .part2 .point .ico h2 {
  font-size: 0.6rem;
  color: rgb(59, 59, 59);
}
main section.view3 .card .part2 .point i {
  color: gray;
  padding: 0.2rem;
}
main section.view3 .card .part2 button {
  background-color: #121212;
  border: none;
  color: #edecec;
  padding: 0.9rem 1.2rem;
  border-radius: 1.5rem;
}
main section.view3 .card .part2 button:hover {
  background-color: #ededed;
  color: #121212;
  transition: all ease 0.8s;
  cursor: pointer;
  border: 2px solid #121212;
}
main section.view4 {
  background-color: #0D1218;
  color: #edecec;
  width: 100%;
  max-width: 1800px;
  border-radius: 1rem;
}
main section.view4 .card {
  padding: 4rem 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}
main section.view4 .card .part1 {
  text-align: center;
}
main section.view4 .card .part1 h1 {
  font-size: 1.6rem;
  padding: 1.6rem 2rem;
  font-weight: 400;
}
main section.view4 .card .part2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
main section.view4 .card .part2 .box1 {
  background-color: #141B25;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  width: 58vh;
}
main section.view4 .card .part2 .box1 .rect {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view4 .card .part2 .box1 .rect .star i {
  color: yellow;
}
main section.view4 .card .part2 .box1 .rect .text p {
  font-size: 0.7rem;
}
main section.view4 .card .part2 .box1 .rect .info {
  display: flex;
  align-items: left;
  flex-direction: column;
}
main section.view4 .card .part2 .box1 .rect .info p {
  font-size: 0.5rem;
}
main section.view4 .card .part2 .box1 .rect .info small {
  font-size: 0.4rem;
}
main section.view4 .card .part3 button {
  padding: 0.9rem 1rem;
  border-radius: 1.5rem;
  border: none;
  font-size: 0.6rem;
}
main section.view4 .card .part3 button:hover {
  background-color: #0D1218;
  color: #edecec;
  transition: all ease 0.8s;
  cursor: pointer;
  border: 2px solid #edecec;
}
main section.view5 {
  background-color: #EFEFF0;
  width: 100%;
  padding: 1rem 0.7rem;
  max-width: 1800px;
}
main section.view5 .card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view5 .card .left {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
main section.view5 .card .left .text h2 {
  font-size: 1.3rem;
  font-weight: 400;
}
main section.view5 .card .left .text p {
  font-size: 0.7rem;
}
main section.view5 .card .left .btn button {
  padding: 0.7rem 0.7rem;
  border: none;
  background-color: #0D1218;
  border-radius: 1.4rem;
  color: #edecec;
  font-size: 0.6rem;
}
main section.view5 .card .left .btn button:hover {
  background-color: #edecec;
  color: #0D1218;
  transition: all ease 0.8s;
  cursor: pointer;
  border: 2px solid #0D1218;
}
main section.view5 .card .right img {
  width: 100%;
  border-radius: 0.4rem;
}
main section.footer {
  background-color: #0D1218;
  color: #edecec;
  padding: 1rem 1.5rem;
  width: 100%;
  max-width: 1800px;
}
main section.footer .card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}
main section.footer .card .text h1 {
  font-size: 1.3rem;
}
main section.footer .card .text h3 {
  font-size: 0.6rem;
  font-weight: 400;
}
main section.footer .card .link i {
  font-size: 0.7rem;
}

@media (min-width: 760px) {
  main section.nav {
    max-width: 1800px;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  main section.nav h3 {
    border: 2px solid #121212;
    padding: 0.7rem 1rem;
    border-radius: 1.7rem;
    font-size: 1rem;
  }
  main section.nav h3:hover {
    background-color: #0D1218;
    color: #edecec;
    transition: all ease 0.8s;
    cursor: pointer;
  }
  main section.nav-hero {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main section.nav-hero .card {
    width: 83%;
  }
  main section.nav-hero .card .center {
    display: flex;
    align-items: left;
    flex-direction: row;
    justify-content: left;
  }
  main section.nav-hero .card .center .left,
  main section.nav-hero .card .center .right {
    width: 50%;
  }
  main section.nav-hero .card .center .left {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    gap: 1rem;
  }
  main section.nav-hero .card .center .left .first {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  main section.nav-hero .card .center .left .first h1 {
    font-size: 3rem;
    font-family: roboto;
    font-weight: 400;
  }
  main section.nav-hero .card .center .left .first p {
    font-size: 1.1rem;
  }
  main section.nav-hero .card .center .left .second {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  main section.nav-hero .card .center .left .second .pics img {
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main section.nav-hero .card .center .left .second .text {
    padding-left: 2.7rem;
  }
  main section.nav-hero .card .center .left .second .text h3 {
    font-size: 0.9rem;
  }
  main section.nav-hero .card .center .left .second .text p {
    font-size: 0.7rem;
  }
  main section.view2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  main section.view2 .card {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  }
  main section.view2 .card .part1 {
    width: 33%;
    padding: 1rem;
  }
  main section.view2 .card .part1 h1 {
    margin-top: 1rem;
    font-size: 1.4rem;
  }
  main section.view2 .card .part2 {
    margin: 1rem;
    width: 50%;
    padding: 1rem;
  }
  main section.view2 .card .part2 .design1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  }
  main section.view2 .card .part2 .design1 p {
    font-size: 1rem;
  }
  main section.view3 .card {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  main section.view3 .card .part1 {
    width: 54%;
  }
  main section.view3 .card .part2 {
    width: 35%;
  }
  main section.view3 .card .part2 h2 {
    font-size: 2rem;
    font-weight: 400;
  }
  main section.view3 .card .part2 p {
    font-size: 1rem;
  }
  main section.view3 .card .part2 .point {
    margin-bottom: 1rem;
  }
  main section.view3 .card .part2 .point .ico h2 {
    font-size: 0.8rem;
  }
  main section.view4 .card .part1 h1 {
    font-size: 1.8rem;
  }
  main section.view4 .card .part2 {
    gap: 1.4rem;
  }
  main section.view4 .card .part2 .box1 {
    width: 64vh;
  }
  main section.view4 .card .part2 .box1 .rect .text p {
    font-size: 1rem;
  }
  main section.view4 .card .part2 .box1 .rect .info p {
    font-size: 0.9rem;
  }
  main section.view4 .card .part2 .box1 .rect .info small {
    font-size: 0.6rem;
  }
  main section.view4 .card .part3 button {
    font-size: 0.9rem;
    padding: 0.8rem 0.9rem;
  }
  main section.view5 {
    background-color: #EFEFF0;
    width: 100%;
    padding: 0;
  }
  main section.view5 .card {
    display: flex;
    flex-direction: row;
  }
  main section.view5 .card .left {
    width: 50%;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
  }
  main section.view5 .card .left .text h2 {
    font-size: 2rem;
  }
  main section.view5 .card .left .text p {
    font-size: 1rem;
  }
  main section.view5 .card .left .btn {
    margin-top: 1rem;
  }
  main section.view5 .card .left .btn button {
    padding: 0.9rem 1rem;
    font-size: 0.9rem;
  }
  main section.view5 .card .right {
    width: 50%;
  }
  main section.view5 .card .right img {
    width: 100%;
    border-radius: none;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main section.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  main section.footer .card {
    width: 100%;
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
  }
  main section.footer .card .text {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 1rem;
  }
  main section.footer .card .text h1 {
    font-size: 1.6rem;
  }
  main section.footer .card .text h3 {
    font-size: 0.8rem;
  }
  main section.footer .card .link i {
    font-size: 0.9rem;
  }
}/*# sourceMappingURL=style.css.map */